body {
  min-height: -webkit-fill-available;
  height: 100%;
}

iframe {
  display: none !important;
}

html {
  height: -webkit-fill-available;
}

#root {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: -webkit-fill-available;
}

body * {
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card {
  border: 3px solid black;
  width: calc(20% - 20px);
  margin: 10px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.word {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center ;
  background-color: rgba(0, 0, 0, 0.05);
}

.word:first-child {
  transform: rotate(180deg);
  background-color: rgba(0, 0, 0, 0.1);
}

.counter {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-bottom: -60px;
}

.count {
  margin-right: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    height: calc(100% + 60px);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .buttons {
    margin-bottom: 5px;
  }

  .card {
    width: calc(20% - 6px);
    height: 50px;
    margin: 3px;
    opacity: 0.9;
  }

  .word {
    font-size: 12px;
    width: 100%;
    height: 25px;
    padding: 0;
  }

  .buttons {
    padding: 0 10px 10px;
  }

  .buttons button {
    font-size: 10px;
    padding: 6px;
  }

  .counter {
    position: static;
    font-size: 16px;
    padding: 0;
    margin-bottom: -32px;
    height: 36px;
    align-items: center;
  }

  .wrapper {
    padding: 0;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .card {
    width: calc(33% - 6px);
    height: 50px;
    margin: 3px;
  }
}
