body {
  min-height: -webkit-fill-available;
  height: 100%;
}

iframe {
  display: none !important;
}

html {
  height: -webkit-fill-available;
}

#root {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: -webkit-fill-available;
}

body * {
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card {
  width: calc(20% - 20px);
  position: relative;
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  overflow: hidden;
}

.background {
  height: 100%;
  width: 100%;
  opacity: 0.9;
}

.word-wrapper {
  position: absolute;
  margin: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.card img {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  width: 50px;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.word {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: center ;
  background-color: rgba(0, 0, 0, 0.05);
}

.isOpened .word {
  background-color: rgba(255, 255, 255, 0.2);
}

.isOpened .word:first-child {
  background-color: rgba(255, 255, 255, 0.4);
}

.word:first-child {
  transform: rotate(180deg);
  background-color: rgba(0, 0, 0, 0.1);
}

.counter {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  margin-bottom: 10px;
}

.count {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

.king {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -8px;
  background-position: center;
  background-size: cover;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

.counters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    height: calc(100% + 60px);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .buttons {
    margin-bottom: 5px;
  }

  .card {
    width: calc(20% - 6px);
    height: 50px;
    margin: 3px;
  }

  .word {
    font-size: 12px;
    width: 100%;
    height: 25px;
    padding: 0;
  }

  .counter button {
    font-size: 10px;
    padding: 6px;
  }

  .counter {
    position: static;
    font-size: 16px;
    padding: 0 5px;
    height: 36px;
    align-items: center;
  }

  .wrapper {
    padding: 0;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .card {
    width: calc(33% - 6px);
    height: 50px;
    margin: 3px;
  }
}

@keyframes move {
  0% {
    transform: translate3d(0px, 0px, 0px)
  }
  30% {
    transform: translate3d(10px, 5px, 10px)
  }
  60% {
    transform: translate3d(-10px, 5px, -10px)
  }
  100% {
    transform: translate3d(0px, 0px, 0px)
  }
}
